@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=VT323&display=swap");

:root {
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line-bg: hsl(215, 32%, 27%);
    --cyan: hsl(178, 100%, 50%);
    --soft-blue: hsl(215, 51%, 70%);
    --white: hsl(0, 0%, 100%):
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    background: var(--main-bg);
}
.margin-top{
    margin-top: 23px;    
}
.margin-top a{
    text-decoration: none;
    color: var(--white);
}
.margin-top a:hover{
    color: var(--cyan);
}
p{
    font-size: 18px;
}
.container-par{
    font-weight: 300;
    color: var(--soft-blue);
}
span{
    color: var(--white);
}
.container {
    display: flex;
    flex-direction: column;
    padding: 23px;
    width: 350px;
    border-radius: 20px;

    font-size: 18px;
    font-family: "Outfit", sans-serif;
    color: white;

    background: var(--card-bg);
    overflow: hidden;
}

.money-and-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 23px;
    text-align: center;
    font-size: 16px;
}
.cripto-element{
    display: flex;
    justify-content: flex-start;
    column-gap: 8px;
    width: 50%;
}
.cripto{
    color: var(--cyan);
}
.time-element{
    display: flex;
    justify-content: flex-end;
    column-gap: 8px;
    width: 50%;
}

.line{
    width: 100%;
    height: 1px;
    margin-top: 23px;
    background-color: var(--line-bg);
}
.container img {
    border-radius: 10px;
    z-index: 1;
}
.background-image{
    position: absolute;
    width: 304px;
    height: 305px;
    border-radius: 10px;
    background-image: url(../images/icon-view.svg);
    background-color: rgba(0,255,248,0.4);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    z-index: 2;
}
.background-image:hover{
    opacity: 1;
}
.avatar-footer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-top: 23px;
    column-gap: 17px;
    
}
.avatar{
    width: 36px;
    height: 36px;
    background-image: url(../images/image-avatar.png);
    background-position: center;
    background-size: cover;
    border-style: solid;
    border-width: 1px;
    border-radius: 100%;
}
.avatar-text{
    display: table-cell;
    color: var(--soft-blue);
    vertical-align: middle;
    font-size: 16px;
}
span{
    color: white
}

.attribution{
    width: 100%;
    margin-top: 30px;
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}

